Click
fastapi
h11
httptools
pydantic
redis
celery[redis]
starlette
uvicorn
uvloop
websockets
python-multipart

SQLAlchemy
scikit-learn==1.1.2
numpy
xgboost==1.5.0
catboost==1.2.1

python-jose
passlib


